.box {
  margin: 0 auto;
  width: 30%;
}

.password-param-col {
  display: flex;
  background-color: rgba(76, 78, 76, 0.333);
  padding-left: 1rem;
}

.password-param-col p {
  margin-right: 50%;
}

.password-results {
  display: flex;
  flex-direction: row;
  background-color: rgba(76, 78, 76, 0.333);
  margin-bottom: 1rem;
  height: 4rem;
}

.password-results h3 {
  margin-left: 1rem;
}

.password-col {
  display: flex;
  flex-direction: column;
  background-color: rgba(76, 78, 76, 0.333);
  padding-left: 1rem;
  padding-right: 1rem;
}

.checkbox {
  background: #09d12b;
  outline: none;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.checkbox:checked {
  background-color: #09d12b;
}

.password-col input:hover {
  opacity: 1;
}

.password-col label {
  padding-left: 0.5rem;
}

.gen-button {
  background-color: #52af77;
  border: none;
  border-radius: 3px;
  width: 33.4rem;
  height: 3rem;
  font-size: large;
  color: white;
  margin-bottom: 1rem;
}

.copy-icon {
  margin-top: 1.3rem;
  position: fixed;
  z-index: 3000;
}
