.box {
  margin: 0 auto;
  width: 30%;
}
h2 {
  text-align: center;
}
.password-param-col {
  display: flex;
  background-color: rgba(76, 78, 76, 0.333);
  padding-left: 1rem;
}

.password-param-col p {
  margin-right: 50%;
}

.password-results {
  position: relative;
  background-color: rgba(76, 78, 76, 0.333);
  margin-bottom: 1rem;
  height: 4rem;
}

.password-results h3 {
  padding: 1em;
}

.password-col {
  background-color: rgba(76, 78, 76, 0.333);
  padding: 0 1rem 0 1rem;
}
.form-pass {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(4);
  justify-content: start;
  border: none;
}

.checkbox:checked {
  accent-color: #52af77;
}

.checkbox {
  margin-right: 1rem;
}

.gen-button {
  background-color: #52af77;
  border: none;
  border-radius: 3px;
  width: 33.4rem;
  height: 3rem;
  font-size: large;
  color: white;
  margin-bottom: 1rem;
}

.copy-icon {
  margin-top: 1.3rem;
  position: absolute;
  right: 10px;
  top: 5px;
}
